/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1100px;
    margin: 0  auto;
    background-color: rgb(14, 6, 6);
    font-family: "Poppins", sans-serif;
}

/**** Affichage des erreurs *****/
.log {
    background-color: white;
    color: rgb(51, 69, 81);
    padding: 4rem;
}

.log h1 {
    font-family: sans-serif;
    margin: 2rem;
}

.log h2 {
    margin: 1rem 0;
    font-size: 1.4rem;
}

.log p,
.log pre {
    font-size: 1.2rem;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 3rem;
    padding: 1em 2em;
    background-color: white;
    color: rgb(51, 69, 81);
    text-align: center;
}

/* ____________Header____________ */

header {
    background-color:rgb(185,157,125);
    display: flex;
    max-height: 600px;
}

header .header_text{
    flex-basis: 35%;
}
header .header_image{
    flex-basis: 65%;
}

header .header_image img{
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

header #login{
    position: absolute;
    color: white;
    font-size: 2rem;
    margin: 20px 20px;
}

header .header_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header .header_text .logo{
    text-decoration: none;
    font-family: "Meow Script", sans-serif;
    font-size: 2.7rem;
    color: white;
}

.logo h1{
    font-weight: normal;
}

header .header_text span{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 4% 0;
    font-family: "Poppins", sans-serif;
}

header .button{
    background-color: rgb(51, 69, 81);
    text-decoration: none;
    padding: 5px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 4% 0;
    font-family: "Poppins", sans-serif;
}

/* ____________FOOTER____________ */

footer{
    background-color: rgb(51, 69, 81);
    padding: 3% 4%;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container div{
    flex-basis: 22%;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 110px;
}

footer .container div span{
    color: rgb(185,157,125);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

footer .container div p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

footer .container div h2{
    color: white;
    text-decoration: none;
    font-family: "meow script", sans-serif;
    font-size: 2rem;
}

footer > p{
    justify-self: center;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    margin : 40px 0 0 0;
}

footer p a{
    text-decoration: none;
    color: white;
}

/* ____________CONTENT____________ */
/* ____________ABOUT + FORMULE____________ */

.about{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 69, 81);
    color: white;
    padding: 0 4% 6% 4%;
    
}

.about .formule{
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
    padding-top: 20px;
}

.about .formule div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .formule div i{
    font-size: 2.5rem;
    color: rgb(185,157,125);
    margin : 10px 0 ;
}

.about .formule div p{
    text-align: center;
    font-weight: lighter;
    line-height: 1.5;
}

.about .formule div h2{
    text-transform: uppercase;
    margin: 10px 0;
}

.about .about_text{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 50px;
}

.about .about_text h2{
    text-align: right;
}
.about .about_text p{
    text-align: right;
    font-weight: lighter;
}
.about .about_text div a{
    text-decoration: none;
    background-color: rgb(185,157,125);
    color: rgb(51, 69, 81);
    padding: 10px 20px;
    text-transform: uppercase;
}

.about .about_text div{
    padding: 20px 0;
}

/*____________MENU DU JOUR________*/

.today_menu {
    background-color: rgb(185,157,125);
    display: flex;
    padding: 2% 4%;
}

.today_menu .today_text{
    flex-basis: 50%;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    
    font-weight: lighter;

}

.today_menu .today_text h2{
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 30px 0;
}

.today_menu .today_text h3{
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 20px 0;
}

.today_menu .today_text p{
    font-family: "meow script", sans-serif;
    font-size: 3rem;
}

.today_menu .today_text .today_bouton{
    margin: 30px 0; 
}

.today_menu .today_text .today_bouton a{
    font-weight: normal;
    text-decoration: none;
    background-color: rgb(51, 69, 81);
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}

.today_menu .today_image img{
    width: 45%;
    aspect-ratio: 0.5;
    object-fit: cover;
    margin: 0 10px;
}

.today_image{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}

.today_menu .today_image #img1{
    position: relative;
    top : -60px;
}

.today_menu .today_image #img2{
    position: relative;
    bottom: -20px;
}

/*____________PLAT aleatoire________*/
.plat_alea{
    background-color: white;
}

.alea_text{
    text-align: center;
    padding-bottom: 50px;
}

.alea_text h2{
    color: rgb(51, 69, 81);
    
    font-size: 2rem;
    padding: 20px 0;
    font-weight: normal;
}

.alea_text div a{
    background-color: rgb(51, 69, 81);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    
}

.plat_image{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plat_image img{
    width: 33.33%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}